.row
	.large-4.columns
		%img{:src => "/img/pig-coloring-page.png"}
	.large-8.columns.boxy
		%h1< 
			Welcome
			%small pig puns to follow
		%p Hopefully you will find your stay here pleasant. Please stay a while.
		%a.button.round Let's get started
