/ Navigation
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"}
          Rash Judgements
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.divider
      %li
        %a{:href => root_path} Home
      %li.divider
      %li
        %a{:href => "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 3
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li
            %a{:href => "#"} Dropdown Option
          %li.divider
          %li
            %a{:href => "#"} See all →
/ End Top Bar